.section{
    width: 100%;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #e1cec6;

}
#navbar-example2{
    background-color: #e1cec6;
    font-weight: bold;
    font-size: 22px;
}
#nosotros{
    padding: 3em 0;
}
footer{
    background-color: #e1cec6;
}
